.home {
    margin-top: 1.0rem;
}

.pad {
    padding-top: 30px;
}

.title-center {
    margin: 0 auto;
    color: rgb(86, 111, 112);
    font-size: 20px
}

.uname {
    float: right;
    font-size: 15px;
}

.mat-toolbar-shadow {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: rgb(255, 255, 255)
}

@media screen and (min-width: 480px) {
    .uname {
        visibility: hidden;
    }
}