<section class="home">
    <div class="container">
        <div fxLayout="column">

            <!--toolbar-->
            <mat-toolbar [color]="color">
                <span> Angular Project (Mobuild)</span>
                <span class="demo-fill-remaining"></span>
            </mat-toolbar>


            <div style="margin: 2rem 0 2rem 0" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center" fxLayoutGap.lt-md="20px" fxLayoutGap="40px">

                <mat-card fxFlex="50">

                    <mat-toolbar>
                        <div style="color: brown; padding-left: 40%">APP NAME</div>
                        <span style="width: 100%"></span>


                    </mat-toolbar>

                    <mat-card-content *ngIf="viewSourceOfNgxAuthFirebaseuiComponent">
                        <mat-tab-group [color]="color" [selectedIndex]="index">
                            <!--tab 1-->
                            <mat-tab>
                                <ng-template mat-tab-label>HTML</ng-template>
                                <pre><code highlight [code]="html"></code></pre>
                            </mat-tab>
                            <!--tab 2-->
                            <mat-tab>
                                <ng-template mat-tab-label>TS</ng-template>
                                <pre><code highlight [code]="code"></code></pre>
                            </mat-tab>
                        </mat-tab-group>
                    </mat-card-content>

                    <mat-card-content>
                        <ngx-auth-firebaseui (onSuccess)="printUser($event)" (onError)="printError($event)">
                        </ngx-auth-firebaseui>
                    </mat-card-content>
                </mat-card>

                <mat-card fxFlex="50">

                    <mat-toolbar>
                        <div style="color: brown; padding-left: 22%">USER AFTER LOGIN PANEL</div>
                        <span style="width: 100%"></span>


                    </mat-toolbar>

                    <mat-card-content *ngIf="viewSourceOfTheUserComponent">
                        <mat-tab-group [color]="color" [selectedIndex]="index">
                            <!--tab 1-->
                            <mat-tab>
                                <ng-template mat-tab-label>HTML</ng-template>
                                <pre><code highlight [code]="userComponent"></code></pre>
                            </mat-tab>
                            <!--tab 2-->
                            <mat-tab>
                                <ng-template mat-tab-label>TS</ng-template>
                                <pre><code highlight [code]="code"></code></pre>
                            </mat-tab>
                        </mat-tab-group>
                    </mat-card-content>

                    <mat-card-content>
                        <ngx-auth-firebaseui-user></ngx-auth-firebaseui-user>
                    </mat-card-content>
                </mat-card>
            </div>





        </div>





    </div>
</section>